%h1 Listing tasks

%table.table.table-striped.table-bordered
  %tr
    %th Fog bugz
    %th Title
    %th Estimate
    %th Lane
    %th Status
    %th Shepherd
    %th Board
    %th Comments
    %th

  - @tasks.each do |task|
    %tr
      %td.col-md-1= task.fog_bugz_id
      %td.col-md-2= task.title
      %td.col-md-1= task.estimate
      %td.col-md-1= task.lane
      %td.col-md-1= task.status
      %td.col-md-1= task.shepherd
      %td.col-md-1= task.board
      %td.col-md-2= task.comments
      %td.col-md-2
        = link_to 'Show', task
        = link_to 'Edit', edit_task_path(task)
        = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
