%h1 Listing tasks

%table
  %tr
    %th Fog bugz
    %th Title
    %th Estimate
    %th Lane
    %th Status
    %th Shepherd
    %th Board
    %th Comments
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.fog_bugz_id
      %td= task.title
      %td= task.estimate
      %td= task.lane
      %td= task.status
      %td= task.shepherd
      %td= task.board
      %td= task.comments
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
