%p#notice= notice

%p
  %b Fog bugz:
  = @task.fog_bugz_id
%p
  %b Title:
  = @task.title
%p
  %b Estimate:
  = @task.estimate
%p
  %b Lane:
  = @task.lane
%p
  %b Status:
  = @task.status
%p
  %b Shepherd:
  = @task.shepherd
%p
  %b Board:
  = @task.board
%p
  %b Comments:
  = @task.comments

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
