!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %h1 Listing LeanKit Cards Without Estimates

    %p
      Total of #{@cards.length} cards found without estimates
      
    %table
      %tr
        %th FogBugz ID
        %th Title
        %th Shepherd
        %th Lane
        %th Priority
        %th Type
        %th Block Reason

      - @cards.each do |card|
        %tr
          %td= card.external_card_id
          %td= card.title
          %td= card.tags
          %td= card.lane
          %td= card.priority_text
          %td= card.type_name
          %td= card.block_reason
