



<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<center>
  <h1>
    <b>Velocity</b>
  </h1>
</center>

<div class="big-well">
  <h3 class = 'word' id = 'current_velocity_right_aligned'>
    Current Velocity:
  </h3>
  <h1 class = 'number'>
    <%= @velocity %>
  </h1>
  <h3 class = 'word2'>
    (from <%=@cards_this_week%> tasks completed)
  </h3>
  <br><br><br><br>
  <h3 class = 'word'>
    Last Week's Velocity:
  </h3>
  <h1 class= 'number'>
    <%=@last_week_velocity%>
  </h1>
  <h3 class = 'word2'>
    (from <%=@cards_last_week%> tasks completed)
  </h3>
</div>
<center>
  <h2>
    <u>Previous weeks</u>
  </h2>
</center>
<div class="velocities">
  <h3 class='word' id='average_velocity_right_aligned'>
    Average Velocity:
  </h3>
  <h1 class = 'number'>
    <%= number_with_precision(@avg_velocity, precision: 2) %>
  </h1>
  <br>
  <h3 class='word'>
    Last 4 Average Velocity:
  </h3>
  <h1 class='number'>
    <%= number_with_precision(@last_4_avg_velocity, precision: 2) %>
  </h1>
</div>
<div id='chart'>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= column_chart @chart_data, {
    id:'chart',
    library: { width: 800, height: 450}
  } %>
</div>
<div class="clear well">
  <%= link_to 'Looking for reports?', card_analytics_report_url %>
</div>
